 html {
    font-family: "Roboto", sans-serif;
}
 
body{
	background-color: #fafafa;
}
::-webkit-input-placeholder{color:#000}
:-moz-placeholder{color:#000}
::-moz-placeholder{color:#000}
:-ms-input-placeholder{color:#000}

input:focus:not([type]):not([readonly]), input[type="text"]:focus:not([readonly]), input[type="password"]:focus:not([readonly]), input[type="email"]:focus:not([readonly]), input[type="url"]:focus:not([readonly]), input[type="time"]:focus:not([readonly]), input[type="date"]:focus:not([readonly]), input[type="datetime"]:focus:not([readonly]), input[type="datetime-local"]:focus:not([readonly]), input[type="tel"]:focus:not([readonly]), input[type="number"]:focus:not([readonly]), input[type="search"]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]){
	border-bottom: 1px solid #0288d1;
	box-shadow: 0 1px 0 0 #0288d1;
}
.container-fluid{
	width: 96%;
	margin-left: auto;
	margin-right: auto;
}
.title-cadastro{
	font-size: 24px;
	color: #333333;
}
.atencao-cadastro{
	color: #A54F4F;
	line-height: 1.8;
	padding: 0 20px;
}

.logomarca{
	width: 280px;
    position: relative;
}
.clear{
	    clear: both;
    padding-bottom: 15px;
}